body {
  min-height: 100vh;
  background-color: white;
  background-image: url("/home/images/0 TT empty bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.big-p {
  padding-top: 3rem auto;
  margin: 8rem auto;
  font-size: 14pt;
  font-weight: 100;
  text-align: justify;
  font-family: "Pacifico", sans-serif;
}

.card {
  background-color: #ffff66;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 2rem;
  margin-top: 10rem;
}

.row-3 {
  position: relative;
  float: left;
  height: 120pt;
  max-width: 100%;
  width: 33.3%;
}

@media screen and (max-width: 600px) {
  .row-3 {
    width: 50%;
  }
}

@media screen and (max-width: 300px) {
  .row-3 {
    width: 100%;
  }
}

.mt-5 {
  margin-top: 0pt !important;
  min-height: 100vh;
  padding-top: 0rem;
}

.center-content {
  align-content: center;
  text-align: center;
  position: relative;
}

.big-content p {
  font-size: 22pt;
}

.div-img {
  position: relative;
  z-index: -1;
  border: 1px solid #000000;
}

.div-img img {
  max-width: 100%;
  max-height: 100%;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 3rem;
}

.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}

//Currently Selected Controller
.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid;
}

.box-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}

.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: Ozxgen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

//Label
.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

//Input
.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid $blue_theme;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
  border: 2px solid $blue_theme;
}

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

//Input Placeholder
.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px; //color: rgba(46, 213, 116, 0.839);
  color: rgba(15, 15, 15, 0.4);
}

.login-btn {
  padding: 2px 30px;
  /* background-color: #417cef; */
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #417cef;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #417cef;
  color: white;
}

.danger-error {
  color: #e74c3c;
  font-size: 16px;
}

//Password
.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.pwd-weak {
  background-color: #e74c3c;
}

.pwd-medium {
  background-color: #3498db;
}

.pwd-strong {
  background-color: #2ecc71;
}

.show {
  visibility: visible;
}
.logo {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
.btn {
  border-radius: 8px;
}
#uploadbtn {
  margin-left: 450px;
}
#registerbtn {
  margin-left: 15em;
}
.row {
  margin: 0;
}
.col-md-12 .row .card {
  padding-top: 0rem;
}
#loginform {
  margin-top: -10rem;
}
.About-us {
  margin-top: 5rem;
  width: 50rem;
  text-align: justify;
  position: relative;
  margin: 3rem auto;
}
ul {
  margin: 0 3rem;
}
li {
  padding: 0 1.5rem 0 1.5rem;
}
.navbar-custom {
  background-color: #ffff66;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 1;
}
.Nav-logo {
  border-radius: 100%;
}
.site-footer {
  background-color: #ffff66;
  text-align: center;
  margin-left: -10.29rem;
  width: 90rem;
}
/*Social Media Icons*/
.social-wrapper {
  text-align: center;
  padding-left: -50rem;
}

.social-wrapper ul li {
  display: inline;
  margin: 0;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon {
  margin-top: 0.625em;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
  text-align: center;
  padding-left: 5rem;
  padding-top: 0.5rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 75%;
  position: fixed;
}
@media only screen and (max-width: 1024px) {
  footer {
    position: relative;
    bottom: 0;
    width: 20rem;
  }
}
.basic {
  height: 25rem;
  width: 50rem;
}
.contact-form {
  padding: 50px;
  margin: 3rem auto 10rem auto;
  color: #000;
  border-radius: 2rem;
  background-color: #ffff66 !important;
  font-family: "Roboto", sans-serif;
}
.contact-form h1 {
  font-size: 42px;
  font-family: "Pacifico", sans-serif;
  margin: 0 0 50px;
  text-align: center;
}
.contact-form .form-group {
  margin-bottom: 20px;
}
.contact-form .form-control,
.contact-form .btn {
  min-height: 38px;
  border-radius: 2px;
}
.contact-form .form-control {
  border-color: #e2c705;
}
.contact-form .form-control:focus {
  border-color: #d8b012;
  box-shadow: 0 0 8px #dcae10;
}
.contact-form .btn-primary {
  min-width: 250px;
  color: #fcda2e;
  background: #000;
  margin-top: 20px;
  border: none;
}
.contact-form .btn-primary:hover {
  color: #fff;
}
.contact-form .btn-primary i {
  margin-right: 5px;
}
.contact-form label {
  opacity: 0.9;
}
.contact-form textarea {
  resize: vertical;
}
.bs-example {
  margin: 20px;
}
#send-btn {
  border-radius: 8px;
}
.carousel-inner img {
  margin: auto;
}
.row.heading h2 {
  color: #000000;
  font-size: 42px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-family: "Pacifico", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner {
  border: 1px solid #999999;
  text-align: center;
  margin-bottom: 28px;
  padding: 40px 25px;
}
.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 0;
}
.practice-area .inner h3 {
  color: #3c3c3c;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 10px 0;
}
.practice-area .inner p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.practice-area .inner img {
  display: inline-block;
}

.our-webcoderskull {
}
.our-webcoderskull .cnt-block {
  float: left;
  width: 100%;
  background: #fff;
  padding: 30px 20px;
  text-align: center;
  border: 2px solid #d5d5d5;
  margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure {
  width: 148px;
  height: 148px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img {
  width: 150px;
  height: 148px;
  border-radius: 100%;
}
.our-webcoderskull .cnt-block h3 {
  color: #2a2a2a;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.our-webcoderskull .cnt-block h3 a {
  text-decoration: none;
  color: #2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover {
  color: #337ab7;
}
.our-webcoderskull .cnt-block p {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.our-webcoderskull .cnt-block .follow-us {
  margin: 20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover {
  color: #025a8e;
}
